<h1>Login</h1>

<%= form_for(@user, :url => sessions_path, :html => {"data-ajax" => false}) do |f| %>

  <%= f.label :login_or_email %>
  <%= f.text_field :login_or_email %>


  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "OK" %>

<% end %>

