<div data-role="fieldcontain">
<%= form_for(@user, :url => sessions_path) do |f| %>

  <%= f.label :login_or_email %>
  <%= f.text_field :login_or_email %>


  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "OK" %>
</div>
<% end %>

