<%= form_for(@traverse) do |f| %>
  <% if @traverse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@traverse.errors.count, "error") %> prohibited this traverse from being saved:</h2>

      <ul>
      <% @traverse.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :remarks %><br />
    <%= f.text_area :remarks %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
