<h1>Traversen</h1>

<%= link_to 'Traverse befüllen', fill_traverses_path, :class => "ym-button" %>

<table>
  <tr>
    <th>Name</th>
    <th>Remarks</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @traverses.each do |traverse| %>
  <tr>
    <td><%= traverse.name %></td>
    <td><%= traverse.remarks %></td>
    <td><%= link_to 'Show', traverse %></td>
    <td><%= link_to 'Edit', edit_traverse_path(traverse) %></td>
    <td><%= link_to 'Destroy', traverse, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

