<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @traverse.name %>
</p>

<p>
  <b>Remarks:</b>
  <%= @traverse.remarks %>
</p>


<%= link_to 'Edit', edit_traverse_path(@traverse) %> |
<%= link_to 'Back', traverses_path %>
