<%= form_for(@booking,:html => {:class => "ym-form"}) do |f| %>
  <%= content_for :messages do %>
    <%= model_messages(@booking) %>
  <% end %>

  <div class="ym-fbox-text">
    <%= f.label :traverse_id %><br />
    <%= f.collection_select( :traverse_id, @traverses, :id, :name, :include_blank => false) %>
  </div>

  <div class="ym-fbox-text">
    <%= f.label :delivery_id %><br />
    <%= f.collection_select( :delivery_id, @deliveries, :id, :commission, {:include_blank => false}, {:multiple => true, "data-placeholder" => "Kommissionsnummer bzw. Bundnummer eingeben"}) %>
  </div>

  <div class="ym-fbox-text">
    <%= f.label :remarks %><br />
    <%= f.text_area :remarks, :size => "30x5" %>
  </div>

  <div class="ym-fbox-text">
    <%= f.label :pk %><br />
    <%= f.text_area :pk, :size => "30x2" %>
  </div>

  <div class="ym-fbox-button">
    <%= f.submit %>
  </div>

<% end %>

