<style>

	/*Generated from Designmycss.com*/
table
{
    color:#000000;
    border-collapse:collapse;
    font:14px Arial, Helvetica, sans-serif;
	padding:1em;
	text-align: left;
}
 
table:hover{
	cursor: pointer;
} 
 
th
{
    color:#000000;
    font-weight:bold;
    padding:8px;
	background-color:#FFFFFF;
}
 
tr
{
    font-weight:normal;
}
 
tr:hover td
{
    color:#000000;
}
 
tr:nth-child(odd) td
{
	background:#e0e0e0;
}

tr td:nth-child(2) { /* I don't think they are 0 based */

}
 
td
{
    background:#FFFFFF;
    padding:3px 8px;
}

td.weight {
	text-align: right;
}

</style>
<div style="margin: 1em;">
	<table id="info">
		<thead>
			<tr>
				<th colspan="2">Gesamtstatus Kommission <%= @meiser_delivery.tag %></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Anzahl Bunde mit Barcodes im Wareneingang</td>
				<td class="weight"><%= @bundles.count %></td>
			</tr>
			<tr>
				<td>Anzahl Bunde mit Barcodes im Wareneingang verzinkt</td>
				<td class="weight"><%= @count_bundles_ready %></td>
			</tr>
			<tr>
				<td>Bunde ohne Barcode verwogen</td>
				<td class="weight"><%= @bundles_without_barcode.count %></td>
			</tr>
			<tr>
				<td>bisherige Summe Kommission Brutto</td>
				<td class="weight"><%= @sum_brutto %> kg</td>
			</tr>
			<tr>
				<td>bisherige Summe Kommission Tara</td>
				<td class="weight"><%=@sum_tara %> kg</td>
			</tr>
			<tr>
				<td>bisherige Summe Kommission Netto</td>
				<td class="weight"><%= @sum_netto %> kg</td>
			</tr>
			<tr>
				<td>bisherige Summe Kommission Roh</td>
				<td class="weight"><%= @sum_raw %> kg</td>
			</tr>
			<tr>
				<td>bisherige Zinkauflage</td>
				<td class="weight"><%= za(@sum_raw, @sum_netto) %> %</td>
			</tr>
		</tbody>
	</table>
</div>


<div style="display:table; width: 90%; margin: 1em;">

<table id="detail">
  <thead>
    <tr>
		<% if params[:item].present? %>
			<th><%= check_box_tag 'weighting_selected_all', false, false %></th>
		<% end %>
		<th>Barcode</th>
		<th>Verzinkung</th>
		<th>Besonderheiten</th>
		<th>Brutto</th>
		<th>Tara</th>
		<th>Netto</th>
		<th>Roh</th>
		<th>Kategorie</th>
		<th>GE</th>
		<th>Datum Wareneingang</th>
		<th>Datum Verwiegung</th>
		<th>ZA</th>
		<% if params[:item].present? %>
			<th>Artikel Baan</th>
		<% end %>
    </tr>
  </thead>
  <tbody>
  
  <%= form_tag(item_weighting_index_path, :remote => true, :id => "change_item_form") do %>
  
	<% if params[:item].present? %>
		<%= select_tag "", options_from_collection_for_select(@item_base_data, "id","item_dsca"), :id => "item_base_data_all_selected", :disabled => true %>
		<%= button_tag "markierte Artikel setzen", :id => "change_item", :disabled => true %>
	<% end %>
  
	<% if @bundles.present? %>
		<% @bundles.each_with_index do |b,i| %>
			<% if b.weightings.empty? %>
				<tr>
					<% if params[:item].present? %>
						<td style="background-color: rgba(200, 54, 54, 0.5);"></td>
					<% end %>
					<td style="background-color: rgba(200, 54, 54, 0.5);"><%= b.barcode %></td>
					<td style="background-color: rgba(200, 54, 54, 0.5);"><%= b.zinc %></td>
					<td style="background-color: rgba(200, 54, 54, 0.5);"><%= b.info %></td>
					<td style="background-color: rgba(200, 54, 54, 0.5);" colspan="3"></td>
					<td class="weight" style="background-color: rgba(200, 54, 54, 0.5);"><%= b.weight_raw %></td>
					<td style="background-color: rgba(200, 54, 54, 0.5);" colspan="2"></td>
					<td style="background-color: rgba(200, 54, 54, 0.5);"><%= l b.created_at, :format => :coupon %></td>
					<td style="background-color: rgba(200, 54, 54, 0.5);"></td>
					<td style="background-color: rgba(200, 54, 54, 0.5);"></td>
					<% if params[:item].present? %>
						<td style="background-color: rgba(200, 54, 54, 0.5);"></td>
					<% end %>
				</tr>
			<% else %>
				<% b.weightings.each do|w| %>
				
					<tr>
						<% if params[:item].present? %>
							<td><%= check_box_tag "weightings_ids[]", w.id, false, {:id => "weighting_ids_#{w.id}", :class => "weighting_selected"} %></td>
						<% end %>
						<td><%= b.barcode %></td>
						<td><%= b.zinc %></td>
						<td><%= b.info %></td>
						<td class="weight"><%= w.weight_brutto %></td>
						<td class="weight"><%= w.weight_tara %></td>
						<td class="weight"><%= w.weight_netto %></td>
						<td class="weight"><%= b.weight_raw %></td>
						<td><%= w.sort_list.description %></td>
						<td><%= w.weight_unit %></td>
						<td><%= l b.created_at, :format => :coupon %></td>
						<td><%= l w.created_at, :format => :coupon %></td>
						<td class="weight"><%= za(b.weight_raw, w.weight_netto) %> %</td>
						<%= render :partial => "set_items", :locals => {:w => w} %>
					</tr>
					
				<% end %>
			<% end %>
		<% end %>
	<% end %>
	
	<% if @bundles_without_barcode.present? %>
		<% @bundles_without_barcode.each do |w| %>
				<tr>
					<% if params[:item].present? %>
						<td><%= check_box_tag "weightings_ids[]", w.id, false, {:id => "weighting_ids_#{w.id}", :class => "weighting_selected"} %></td>
					<% end %>
					<td></td>
					<td></td>
					<td></td>
					<td class="weight"><%= w.weight_brutto %></td>
					<td class="weight"><%= w.weight_tara %></td>
					<td class="weight"><%= w.weight_netto %></td>
					<td></td>
					<td><%= w.sort_list.description %></td>
					<td><%= w.weight_unit %></td>
					<td><%= l @meiser_delivery.created_at, :format => :coupon %></td>
					<td><%= l w.created_at, :format => :coupon %></td>
					<td class="weight"></td>
					<%= render :partial => "set_items", :locals => {:w => w} %>
				</tr>
		<% end %>
	<% end %>
	<% if params[:item].present? %>
		<%= button_tag "Speichern", :disable_with => "Please wait..." %>
	<% end %>
<% end %>
  </tbody>
</table>
</div>