
<%#= content_for :head do %>

<%#= javascript_tag do %>
	
<%# end %>

<%# end %>

<%= nested_form_for(@delivery,:html => {:class => "ym-form linearize-form"}) do |f| %>
  <%= content_for :messages do %>
    <%= model_messages(@delivery) %>
  <% end %>
<div class="ym-grid">
<div class="ym-g50 ym-gl">

  <div class="ym-fbox-text">
    <%= f.label :customer_id %>
    <%= f.collection_select( :customer_bpid, Customer.all, :bpid, :search_string, {:include_blank => false}) %>
  </div>
  
  <div class="ym-fbox-text">
   <%= f.label :cash_payer_id %>
   <%= f.collection_select( :cash_payer_id, CashPayer.all, :id, :search_string, {:include_blank => false}) %>
  </div>
  
    <%= f.fields_for :deliver_references do |builder| -%>
        <div class="ym-fbox-text">
          <%= builder.label "Lieferschein" %>
          <%= builder.text_field :name %>
          <%= builder.link_to_remove "Lieferschein entfernen", :class => "ym-button ym-delete" %>
        </div>
    <% end -%>

  <!--<div class="ym-fbox-text">-->
    <%= f.link_to_add "weiterer Lieferschein", :deliver_references, :class => "ym-button ym-add", :style => "margin-left:14px; margin-bottom: 1em;" %>
  <!--</div>-->

</div>


<div class="ym-g50 ym-gl">

  <div class="ym-fbox-text">
    <%= f.label :indate %>
	<input type="date" id="delivery_indate" name="delivery[indate]" value="<%= @delivery.indate.strftime("%Y-%m-%d") %>" />
    <!--<%= f.datepicker :indate, :dateFormat => "dd.mm.yy", :maxDate => 0 %>-->
  </div>

  <div class="ym-fbox-text">
    <%= f.label :outdate %>
	<input type="date" id="delivery_outdate" name="delivery[outdate]" value="<%= @delivery.outdate.strftime("%Y-%m-%d") %>" />
    <!--<%= f.datepicker :outdate, :dateFormat => "dd.mm.yy", :minDate => 0 %>-->
  </div>
  <div class="ym-fbox-text">
    <%= f.label :remarks %>
    <%= f.text_area :remarks, :size => "30x5" %>
  </div>

</div>

</div>
  <div class="ym-fbox-button">
    <%= f.submit %>
  </div>

<% end %>

