<%= form_for(@delivery,:html => {:class => "ym-form"}) do |f| %>
  <%= content_for :messages do %>
    <%= model_messages(@delivery) %>
  <% end %>
  <div class="ym-fbox-text">
    <%= f.label :customer_id %><br />
    <%= f.collection_select( :customer_id, Customer.all, :id, :address, :include_blank => false) %>
  </div>
  <div class="ym-fbox-text">
    <%= f.label :reference %><br />
    <%= f.text_field :reference %>
  </div>

  <div class="ym-fbox-text">
    <%= f.label :indate %><br />
    <%= f.datepicker :indate, :dateFormat => "yy-mm-dd", :maxDate => 0 %>
    <%#= f.text_field :deadline, :id => "datepicker" %>
  </div>

  <div class="ym-fbox-text">
    <%= f.label :outdate %><br />
    <%= f.datepicker :outdate, :dateFormat => "yy-mm-dd", :minDate => 0 %>
    <%#= f.text_field :deadline, :id => "datepicker" %>
  </div>
  <div class="ym-fbox-text">
    <%= f.label :remarks %><br />
    <%= f.text_area :remarks, :size => "30x5" %>
    <%#= f.text_field :deadline, :id => "datepicker" %>
  </div>
  <div class="ym-fbox-button">
    <%= f.submit %>
  </div>

<% end %>

