<%= nested_form_for(@delivery,:html => {:class => "ym-form linearize-form"}) do |f| %>
  <%= content_for :messages do %>
    <%= model_messages(@delivery) %>
  <% end %>
<div class="ym-grid">
<div class="ym-g50 ym-gl">

  <div class="ym-fbox-text">
    <%= f.label :customer_id %>
    <%= f.collection_select( :customer_id, Customer.all, :id, :address, :include_blank => false) %>
  </div>

    <%= f.fields_for :deliver_references do |builder| -%>
        <div class="ym-fbox-text">
          <%= builder.label :name %>
          <%= builder.text_field :name, :rows => 3 %>
          <%= builder.link_to_remove "Referenz entfernen", :class => "ym-button ym-delete" %>
        </div>
    <% end -%>

  <!--<div class="ym-fbox-text">-->
    <%= f.link_to_add "weitere Referenz", :deliver_references, :class => "ym-button ym-add", :style => "margin-left:14px; margin-bottom: 1em;" %>
  <!--</div>-->

</div>


<div class="ym-g50 ym-gl">

  <div class="ym-fbox-text">
    <%= f.label :indate %><br />
    <%= f.datepicker :indate, :dateFormat => "yy-mm-dd", :maxDate => 0 %>
  </div>

  <div class="ym-fbox-text">
    <%= f.label :outdate %>
    <%= f.datepicker :outdate, :dateFormat => "yy-mm-dd", :minDate => 0 %>
  </div>
  <div class="ym-fbox-text">
    <%= f.label :remarks %>
    <%= f.text_area :remarks, :size => "30x5" %>
  </div>

</div>

</div>
  <div class="ym-fbox-button">
    <%= f.submit %>
  </div>

<% end %>

