<!--
<table>
  <tr>
     <th><%= t('activerecord.attributes.customer.name') %></th>
    <th><%= t('activerecord.attributes.delivery.reference') %></th>
    <th><%= t('activerecord.attributes.delivery.deadline') %></th>
    <th></th>
    <th></th>
  </tr>-->

<%= content_for :head do %>
  <%= javascript_tag do %>
    $(document).ready(function(){
      //alert('Handler for .change() called.');
      $('select#printer_id').change(function() {
        alert($(this).val());
        $.post("<%= printer_user_path%>", function(data) {
          alert(data);
        });
      });
    });
  <% end %>
<% end %>

<div style="margin-bottom: 1em;">
<%= link_to t(".new"), new_delivery_path, :class => "ym-button ym-add" %>

<%= paginate @deliveries %>


<nav class="ym-vlist">
<% unless @deliveries.empty? %>
<ul>
<% @deliveries.each do |delivery| %>
  <li>
  <%= link_to delivery_path(delivery), :class => "ym-button" do %>
    <h6>Auftrag <%= delivery.commission %> für <%= delivery.customer.address %></h6>

    Anlieferung am :<%= l delivery.indate, :format => :long %></br>
    Fertigstellung bis: <%= l delivery.outdate, :format => :long %>
    <span style="float:right"><%= time_ago_in_words(delivery.created_at) %></span>
    <%= link_to 'Etikett drucken', print_delivery_path(delivery), :class => "ym-button", :remote => true, :method => :post %>

    <!--<td><%= link_to 'Destroy', delivery, confirm: 'Are you sure?', method: :delete %></td>-->
  <% end %>
  </li>
<% end %>
</ul>
</nav>

<% end %>

<%#= content_for :col2 do %>
<%# end %>

