<!--
<table>
  <tr>
     <th><%= t('activerecord.attributes.customer.name') %></th>
    <th><%= t('activerecord.attributes.delivery.reference') %></th>
    <th><%= t('activerecord.attributes.delivery.deadline') %></th>
    <th></th>
    <th></th>
  </tr>-->

<%= content_for :head do %>
  <%= javascript_tag do %>
    $(document).ready(function(){
      //alert('Handler for .change() called.');
      $('select#printer_id').change(function() {
        alert($(this).val());
        $.post("<%= printer_user_path%>", function(data) {
          alert(data);
        });
      });
    });
  <% end %>
<% end %>

<div style="margin-bottom: 1em;">
<%= link_to t(".new"), new_delivery_path, :class => "ym-button ym-add" %>

<div class="paginator", style="margin: 1em;">
  <%= paginate @deliveries, :remote => true %>
</div>

<nav class="ym-vlist">
<% unless @deliveries.empty? %>
<ul id="deliveries">
<%= render @deliveries %>
</ul>
</nav>

<% end %>

<%#= content_for :col2 do %>
<%# end %>

