<h1>Anlieferungen</h1>

<table>
  <tr>
    <th><%= t('activerecord.attributes.customer.name') %></th>
    <th><%= t('activerecord.attributes.delivery.reference') %></th>
    <th><%= t('activerecord.attributes.delivery.deadline') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @deliveries.each do |delivery| %>
  <tr>
    <td><%= delivery.customer.bpid %> <%= delivery.customer.name %></td>
    <td><%= delivery.reference %></td>
    <td><%= delivery.deadline %></td>
    <td><%= link_to 'Show', delivery %></td>
    <td><%= link_to 'Edit', edit_delivery_path(delivery) %></td>
    <td><%= link_to 'Destroy', delivery, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('.new'), new_delivery_path %>

