<!--
<table>
  <tr>
     <th><%= t('activerecord.attributes.customer.name') %></th>
    <th><%= t('activerecord.attributes.delivery.reference') %></th>
    <th><%= t('activerecord.attributes.delivery.deadline') %></th>
    <th></th>
    <th></th>
  </tr>-->

<%= paginate @deliveries %>


<nav class="ym-vlist">
<h6>Aktuelle Anlieferungen</h6>


<% unless @deliveries.empty? %>
<ul>
<% @deliveries.each do |delivery| %>
  <li>
  <%= link_to delivery_path(delivery), :class => "ym-button" do %>
    <h6>Auftrag <%= delivery.commission %> für <%= delivery.customer.address %></h6>

    Anlieferung am :<%= l delivery.indate, :format => :long %></br>
    Fertigstellung bis: <%= l delivery.outdate, :format => :long %>
    <!--<td><%= link_to 'Destroy', delivery, confirm: 'Are you sure?', method: :delete %></td>-->
  <% end %>
  </li>
<% end %>
</ul>
</nav>

<% end %>

<%= content_for :col1 do %>
  <%= link_to t(".new"), new_delivery_path, :class => "ym-button ym-add" %>
<% end %>

