<nav class="ym-vlist">
<h6>Anlieferung mit Kommissionsnummer <%= @delivery.commission %></h6>
<ul>
  <li>
  <%= link_to '#', :class => "ym-button" do %>
    <%= @delivery.customer.name %>
    <span style=""><%= @delivery.reference %></span>
    <p>Anlieferung am: <%= l @delivery.indate, :format => :long %></br>
    Fertigstellung bis: <%= l @delivery.outdate, :format => :long %></p>
  <% end %>
  </li>
</ul>
</nav>
<!--
<p>
<%= t('activerecord.attributes.customer.name') %>
<%= @delivery.customer.name %>
</p>

<p>
  <%= t('activerecord.attributes.delivery.reference') %>
  <%= @delivery.reference %>
</p>

<p>
  <%= t('activerecord.attributes.delivery.deadline') %>
  <%= l @delivery.indate, :format => :long %>
</p>-->


<%= link_to 'Etikett drucken', print_delivery_path(@delivery), :class => "ym-button", :remote => true, :method => :post %>
<%= link_to 'Anlieferung bearbeiten', edit_delivery_path(@delivery), :class => "ym-button" %>



<%= content_for :footer do %>
 <%= link_to "Anlieferungen", deliveries_path, :class => "ym-button" %>
<% end %>

