
<h6>Anlieferung mit Kommissionsnummer <%= @delivery.commission %></h6>

    <% if @delivery.cash_payer? %>
		<%= @delivery.customer.name %>
		<%= @delivery.cash_payer.name %>
		<%= @delivery.cash_payer.address %>
    <% else %>
		<%= @delivery.customer.name %>
		<%= @delivery.customer.address %>
	<% end %>

	<ul>
		<li>Anlieferung am: <%= l @delivery.indate, :format => :long %></li>
		<li>Fertigstellung bis: <%= l @delivery.outdate, :format => :long %></li>
	</ul>
	
    <h6>Referenzen</h6>
    <ol>
    <% @delivery.deliver_references.each do |ref| %>
      <li><%= ref.name %></li>
    <% end %>
    </ol>

<%= link_to 'Anlieferung bearbeiten', edit_delivery_path(@delivery), :class => "ym-button" %>
<%= link_to 'Etikett drucken', print_delivery_path(@delivery), :class => "ym-button", :remote => true, :method => :post %>
<%= link_to 'Anlieferung löschen', @delivery, method: :delete, :class => "ym-button", :data => { confirm: 'Are you sure?' } %>
<%#= content_for :footer do %>
 <%#= link_to "Anlieferungen", deliveries_path, :class => "ym-button" %>
<%# end %>

