<h1>Abrechnung Meiser Vogtland OHG (<%= l @indate, :format => :coupon %>, <%= @meiser_deliveries.count %> Kommissionen)</h1>

<% unless @meiser_deliveries.empty? %>
	<div class="datagrid" style="width:50%">
	<table style>
	<thead>
	<tr>
		<th>Nr</th>
		<th>Kommission</th>
		<th>Erstellungsdatum</th>
	</tr>
	</thead>
		<% @meiser_deliveries.each_with_index do |md,i| %>
			<tr class="<%= cycle('', 'alt') -%>">
				<td><%= i+1 %></td>
				<td><%= md.tag %></td>
				<td><%= l md.created_at, :format => :coupon %></td>
			</tr>
		<% end %>
	</table>
	</div>
<% end %>

<% unless @weightings.empty? %>
	<div class="datagrid" style="margin-top: 2em;">
	<table style>
	<thead>
	<tr>
		<th>Nr</th>
		<th>Artikel</th>
		<th>Artikelbezeichnung</th>
		<th>Netto</th>
	</tr>
	</thead>
		<% @weightings.each_with_index do |w,i|%>
			<tr class="<%= cycle('', 'alt') -%>">
				<td><%= i+1 %></td>
				<td><%= w.item_base_data.item if w.item_base_data.present? %></td>
				<td><%= w.item_base_data.description if w.item_base_data.present? %></td>
				<td><%= w.weight_netto %> <%= w.weight_unit %>NE</td>
			</tr>
		<% end %>
	</table>
	</div>
<% end %>
