<h1>Tagesliste Schicht <%= @selected_shift.description %> <%= l @selected_shift.start_time, :format => :coupon %> bis <%= l @selected_shift.end_time, :format => :coupon %></h1>
<div class="datagrid">
<table style>
<thead>
<tr>
    <th>Nr</th>
	<th>Datum</th>
	<th>Personalnummer</th>
    <th>Schicht</th>
	<th>Kommissionnummer</th>
	<th>Sorte</th>
	<th>Brutto</th>
	<th>Tara</th>
	<th>Netto</th>
</tr>
</thead>
<% unless @weightings.empty? %>

<% @weightings.each_with_index do |w,i|%>
	<tr class="<%= cycle('', 'alt') -%>">
		<td><%= i+1 %></td>
		<td><%= l w.created_at, :format => :coupon %></td>
		<td><%= w.pid %></td>
		<td><%= w.shift %></td>
		<td><%= w.ref || w.barcode %></td>
		<td><%= w.sort_list.description %></td>
		<td><%= w.weight_brutto %> <%= w.weight_unit %></td>
		<td><%= w.weight_tara %> <%= w.weight_unit %>T</td>
		<td><%= w.weight_netto %> <%= w.weight_unit %>NE</td>
	</tr>
<% end %>
	<tr>
		<td style="background-color:#006699; color:#ffffff;" colspan="8"><%= @weightings.count %> Wiegung(en) mit Summe</td>
		<td style="background-color:#006699; color:#ffffff;"><%= @sum %><%= @weightings.first.weight_unit %></td>
	</tr>
<% end %>
<% unless @zink_weightings.empty? %>

	<% @zink_weightings.each_with_index do |w,i|%>
	<tr class="<%= cycle('', 'alt') -%>">
		<td><%= i+1 %></td>
		<td><%= l w.created_at, :format => :coupon %></td>
		<td><%= w.pid %></td>
		<td><%= w.shift %></td>
		<td><%= w.ref || w.barcode %></td>
		<td><%= w.sort_list.description %></td>
		<td><%= w.weight_brutto %> <%= w.weight_unit %></td>
		<td><%= w.weight_tara %> <%= w.weight_unit %>T</td>
		<td><%= w.weight_netto %> <%= w.weight_unit %>NE</td>
	</tr>
	<% end %>
	<tr>
		<td style="background-color:#006699; color:#ffffff;" colspan="8"><%= @zink_weightings.count %> Hartzinkverwiegung(en) mit Summe</td>
		<td style="background-color:#006699; color:#ffffff;"><%= @sum_zink %><%= @zink_weightings.first.weight_unit %></td>
	</tr>
<% end %>

</table>

</div>