<h1>Tagesliste Schicht <%= @selected_shift.description %> <%= l @selected_shift.start_time, :format => :coupon %> bis <%= l @selected_shift.end_time, :format => :coupon %></h1>
<table style>
<tr>
    <th>Nr</th>
	<th>Datum</th>
	<th>PNr</th>
    <th>S</th>
	<th>KomNr</th>
	<th>Sorte</th>
	<th>Brutto</th>
	<th>Tara</th>
	<th>Netto</th>
</tr>

<% unless @weightings.empty? %>

<% @weightings.each_with_index do |w,i|%>
	<tr>
		<td><%= i+1 %></td>
		<td><%= l w.created_at, :format => :coupon %></td>
		<td><%= w.pid %></td>
		<td><%= w.shift %></td>
		<td><%= w.ref || w.barcode %></td>
		<td><%= w.sort_list.description %></td>
		<td><%= w.weight_brutto %> <%= w.weight_unit %></td>
		<td><%= w.weight_tara %> <%= w.weight_unit %>T</td>
		<td><%= w.weight_netto %> <%= w.weight_unit %>NE</td>
	</tr>
<% end %>
	<tr class="sum">
		<td colspan="8"><%= @weightings.count %> Wiegung(en) mit Summe</td>
		<td><%= @sum %><%= @weightings.first.weight_unit %></td>
	</tr>
<% end %>
</table>