<%= form_for(@commission,:html => {:class => "ym-form"}) do |f| %>
  <% if @commission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@commission.errors.count, "error") %> prohibited this commission from being saved:</h2>

      <ul>
      <% @commission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="ym-fbox-text">
    <%= f.label :orno %><br />
    <% if controller.action_name == "new"  %>
      <%= f.text_field :orno, :disabled => true, :value => "Wird vom System vergeben" %>
    <% else %>
      <%=f.text_field :orno, :disabled => true %>
    <% end %>
  </div>
  <div class="ym-fbox-text">
    <%= f.label :reference %><br />
    <%= f.text_field :reference %>
  </div>

  <div class="ym-fbox-select">
    <%= label_tag "baan[printer]", "Drucker" %>
    <%= select("baan","printer", @printers, {:selected => current_user.preferences.default_printer || @printers.first.second, :include_blank => 'Kein Ausdruck'}) %>
  </div>
  <!--<div class="ym-fbox-text">
    <%= f.label :appointment %><br />
    <%= f.datetime_select :appointment %>
  </div>-->

  <div class="ym-fbox-button">
    <%= f.submit %>
  </div>
<% end %>

