<h1>Kommissionen</h1>

<div class="ui-grid-a">
<div class="ui-block-a">
<ul data-role="listview" data-inset="true" data-filter="true" data-filter-placeholder="Suche" >
<% @commissions.each do |commission| %>
  <li data-filtertext="<%= [commission.orno, commission.reference, l(commission.appointment, :format => :short), l(commission.created_at, :format => :short), l(commission.updated_at, :format => :long)].join(",")%>">
  <%= link_to commission do %>
    <%= commission.orno %><span class="ui-li-count ui-btn-up-c ui-btn-corner-all"><%= commission.reference %> an Traverse <%= Random.rand(20) %></span>
  <% end %>
  </li>
<% end %>
</ul>
</div>
<div class="ui-block-b">

</div>

</div>

<% content_for :footer do %>
<div data-role="navbar">
	<ul>
    <li>
    <%= link_to "Dashboard", dashboard_path, :data => {:role => "button", :icon => "home", :iconpos => "top"} %>
    </li>
    <li>
    <%= link_to "Neuer Auftrag", new_commission_path, :data => {:role => "button", :icon => "add", :iconpos => "top"} %>
    </li>
	  <li><%= link_to "#{request.host_with_port}", new_commission_path, :id => "user-name" %></li>
	  <li><%= link_to "Start Message", "", :id => "send full-name" %></li>
	</ul>
</div>

<% end %>

<%= javascript_tag do %>

$(function(){
  var my_client = new Faye.Client("<%= FAYE_URL %>");
  my_client.subscribe("/messages/new", function(data){
    alert(data);
  });
});

<% end %>

