<h1>Listing commissions</h1>

<table>
  <tr>
    <th>Orno</th>
    <th>Reference</th>
    <th>Appointment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @commissions.each do |commission| %>
  <tr>
    <td><%= commission.orno %></td>
    <td><%= commission.reference %></td>
    <td><%= commission.appointment %></td>
    <td><%= link_to 'Show', commission %></td>
    <td><%= link_to 'Edit', edit_commission_path(commission) %></td>
    <td><%= link_to 'Destroy', commission, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Commission', new_commission_path %>
