<%= link_to new_commission_path, :class => "ym-button ym-add" do %>
  <%= t('.new') %>
<% end %>

<table>
  <tr>
    <th><%= t('activerecord.attributes.commission.orno') %></th>
    <th><%= t('activerecord.attributes.commission.reference') %></th>
    <th><%= t('activerecord.attributes.commission.appointment') %></th>
    <th><%= t('activerecord.attributes.commission.created_at') %> (<%= t('activerecord.attributes.commission.updated_at')%>)</th>
    <th></th>
   <!-- <th></th>
    <th></th>
    <th></th>-->
  </tr>

<% @commissions.each do |commission| %>
  <tr>
    <td><%= commission.orno %></td>
    <td><%= commission.reference %></td>
    <td><%= l(commission.appointment, :format => :short ) %></td>
    <td><%= l(commission.created_at, :format => :short ) %> (<%= l(commission.updated_at, :format => :short ) %>)</th>
    <td><%= link_to "mehr", commission, :class => "ym-button ym-play" %></td>
    <!--<td><%= link_to 'Show', commission %></td>
    <td><%= link_to 'Edit', edit_commission_path(commission) %></td>
    <td><%= link_to 'Destroy', commission, confirm: 'Are you sure?', method: :delete %></td>-->
  </tr>
  <% end %>
</table>


<% content_for :footer do %>
  <%= link_to new_commission_path, :class => "ym-button ym-add" do %>
    <%= t('.new') %>
  <% end %>
<% end %>

