<%= link_to edit_commission_path(@commission), :class => "ym-button ym-add" do %>
  <%= t('.edit') %>
<% end %>

<table>
  <tr>
    <th><%= t('activerecord.attributes.commission.orno') %></th>
    <th><%= t('activerecord.attributes.commission.reference') %></th>
    <th><%= t('activerecord.attributes.commission.appointment') %></th>
    <th><%= t('activerecord.attributes.commission.created_at') %> (<%= t('activerecord.attributes.commission.updated_at')%>)</th>
   <!-- <th></th>
    <th></th>
    <th></th>-->
  </tr>

  <tr>
    <td><%= @commission.orno %></td>
    <td><%= @commission.reference %></td>
    <td><%= l(@commission.appointment, :format => :short ) %></td>
    <th><%= l(@commission.created_at, :format => :short ) %> (<%= l(@commission.updated_at, :format => :short ) %>)</th>
    <!--<td><%= link_to 'Show', @commission %></td>
    <td><%= link_to 'Edit', edit_commission_path(@commission) %></td>
    <td><%= link_to 'Destroy', @commission, confirm: 'Are you sure?', method: :delete %></td>-->
  </tr>
</table>

<h2>Status</h2>

<div class="status"></div>


<%= javascript_tag do %>
$(function(){
  var my_client = new Faye.Client("<%= FAYE_URL %>");
  my_client.subscribe("/status<%= url_for @commission %>", function(data){
    $("div.status").toggleClass("highlight");
  });
});
<% end %>

<% content_for :footer do %>
  <%= link_to new_commission_path, :class => "ym-button ym-edit" do %>
    <%= t('.new') %>
  <% end %>
<% end %>



<%= link_to 'Zurück', commissions_path, :class => "ym-button ym-spark"  %>
<%= link_to new_commission_path, :class => "ym-button ym-edit" do %>
  <%= t('.new') %>
<% end %>

