<h1>Warenannahme</h1>
<h2 id="commission_header">Kommission <%= @dr.meiser_delivery.tag %> (<%= link_to("#{@number_bundles} Scans", deliver_reference_meiser_bundle_tags_path(@dr)).html_safe %>)</h2>
<p>Bitte scannen und anschließend bestätigen:</p>
<%= form_for [@dr, @meiser_bundle_tag], :remote => true do |f| %>
	<p><%= f.text_field :barcode, :size => 20 %></p>
	<p><%= f.submit "Bestätigen", :disable_with => "Bitte warten", :style => "height: 100px; width: 240px;" %></p>
<% end %>