<h6>Sortenverzeichnis Verzinkerei Plauen</h6>

<%= link_to 'Neuen Sortenverzeichniseintrag anlegen', new_sort_list_path, :class => "ym-button ym-add" %>

<div class="paginator" style="margin:1em;">
  <%= paginate @sort_lists, :remote => true %>
</div>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.sort_list.number') %></th>
      <th><%= t('activerecord.attributes.sort_list.description') %></th>
	  <th><%= t('activerecord.attributes.sort_list.created_at') %></th>
	  <th></th>
	  <th></th>
    </tr>
  </thead>
  <tbody id="sort_lists">
    <%= render @sort_lists %>
  </tbody>
</table>

<div class="paginator" style="margin:1em;">
  <%= paginate @sort_lists, :remote => true %>
</div>

