<!DOCTYPE html>
<html>
	<head>
	<title>Verzinkerei Plauen</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag "application", "mobile" %>
  <script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
  <%= javascript_include_tag "http://localhost:4000/faye.js" %>
  <%= yield :head %>
  <%= javascript_tag do %>

  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>

<div data-role="<%= @dialog ? 'dialog' : 'page' %>" data-url="<%= request.path %>" data-close-btn-text="Beenden" >
	<div data-role="header">
		<h1>Verzinkerei Plauen</h1>
		<%= render "header" %>
	  <%= yield :nav %>
	</div>
  <div data-role="content">
	  <% flash.each do |key, value| %>
      <%= content_tag(:div, value, :class => "flash_message #{key}") %>
    <% end %>
	    <%= yield %>
	</div>
  <div data-role="footer" data-position="fixed" >
	  <%= yield :footer %>
	  <% if Rails.env.development? and params[:debug] %>
	   <h1>Anfrage: <%= request.path %></h1>
     <h1>Referrer: <%= request.env["HTTP_REFERER"] %></h1>
     <h1><%= session.inspect %></h1>
    <% end %>
  </div>

</div><!-- /page -->

</body>
</html>

