<!DOCTYPE html>
  <head>
    <title>Verzinkerei Plauen</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= yield :head %>
	<%= javascript_include_tag "application" %>
  </head>
  <body id="skeller">
	<p id="error"><%= flash[:error] %></p>
 	<%= yield %>
  </body>
</html>